extends layout

block scripts
  script(type="text/processing", data-processing-target="targetcanvas").
    void setup() {
      size(200, 200);
      stroke(0);
      fill(0);
      noLoop();
    }

    void draw() {
      background(#FFFFFF);
      var shift = 0;
      while (shift <= 200) {
        line(shift, 0, 200, shift);
        shift += 14;
      }
    }

block content
  :coffeescript
    $(document).ready () ->
      requestEditor = CodeMirror $("#editor")[0], {
        value: """
          var shift = 0;
          while (shift <= 200) {
            line(shift, 0, 200, shift);
            shift += 14;
          }
        """
        mode:  "coffeescript"
        viewportMargin: Infinity
        tabMode: "spaces"
        }

  div(class="row")
    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-10 columns")
          h1#title
            = title 

        div(class="large-2 columns top-buttons")
          .run

    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-6 columns")
          #editor

        div(class="large-6 columns top-buttons")
          canvas(id="targetcanvas")


