extends layout

block scripts

block content
  div(class="row")
    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-10 columns")
          h1#title
            = title 

        div(class="large-2 columns top-buttons")
          .run

    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-8 columns")
          div(class="row collapse ")
            div(class="large-1 columns")
              #amount
            div(class="large-11 columns")
              #slider
          div(class="row")
            div(class="large-12 columns")
              #editor

        div(class="large-4 columns x-canvas")
          #targetcanvas

  div(class="row")
    div(class="large-12 large-centered columns")
      #messages
 
  script(src='/javascripts/parabola.js')

