extends layout

block scripts

block content
  :coffeescript
    $(document).ready () ->
      boilerplate = (drawCode) -> """    
        void setup() {
          size(200, 200);
          stroke(1);
          fill(0);
          noLoop();
        }

        void draw() {
          background(#FFFFFF);
          #{drawCode}   
        }
      """

      delay = null
      editor = CodeMirror $("#editor")[0], {
        value: """
          var shift = 0;
          while (shift <= 200) {
            line(shift, 0, 200, shift);
            shift += 14;
          }
        """
        mode:  "javascript"
        viewportMargin: Infinity
        tabMode: "spaces"
        }
      editor.on "change", () ->
        clearTimeout(delay)
        delay = setTimeout(updatePreview, 300)

      editor.on "cursorActivity", () ->
        console.log editor.getCursor().line
        # var cur = editor.getLineHandle(editor.getCursor().line)
        # if (cur != hlLine)
        #   editor.removeLineClass(hlLine, "background", "activeline")
        #   hlLine = editor.addLineClass(cur, "background", "activeline")

      updatePreview = () ->
        pdeCode = boilerplate(editor.getValue())
        # jsCode = Processing.compile(pdeCode).sourceCode
        canvas = document.getElementById("targetcanvas");
        instance = new Processing(canvas, pdeCode)

      setTimeout(updatePreview, 300)


  div(class="row")
    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-10 columns")
          h1#title
            = title 

        div(class="large-2 columns top-buttons")
          .run

    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-6 columns")
          #editor

        div(class="large-6 columns canvas")
          canvas(id="targetcanvas")


