extends layout

block scripts

block content
  div(class="row")
    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-10 columns")
          h1#title
            = title 

        div(class="large-2 columns top-buttons")
          .run

    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-6 columns")
          #amount 0

        div(class="large-6 columns x-canvas")
          &nbsp;

    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-6 columns")
          #slider
          #editor

        div(class="large-6 columns x-canvas")
          #targetcanvas

  div(class="row")
    div(class="large-12 large-centered columns")
      #messages
 
  script(src='/javascripts/parabola.js')

