extends layout

block scripts

block content
  div(class="row")
    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-10 columns")
          h1#title
            = title 

        div(class="large-2 columns top-buttons")
          .run

    div(class="large-12 large-centered columns")
      div(class="row")
        div(class="large-9 columns")
          div(class="row collapse")
            div(class="large-1 columns")
              #amount
            div(class="large-5 columns")
              #slider
            div(class="large-6 columns")
              .space

          div(class="row collapse")
            div(class="large-6 columns")
              #editor
            div(class="large-6 columns")
              #timeline

        div(class="large-3 columns x-canvas")
          #targetcanvas

  div(class="row")
    div(class="large-12 large-centered columns")
      #messages
 
  script(src='/javascripts/parabola.js')

