doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.10.3.custom.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/choc.css')
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/jquery-ui-1.10.3.custom.js')
    script(src='/javascripts/vendor/custom.modernizr.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/codemirror.js')
    script(src='/javascripts/modes/javascript/javascript.js')
    script(src='/javascripts/modes/coffeescript/coffeescript.js')
    script(src='/javascripts/vendor/two.js')
    script(src="/javascripts/choc.browser.js?d=#{Date.now()}")
    block scripts

  body
    // img#choc-icon(src="/images/choc.svg", width="80")
    block content
