---
title: Choc 
layout: default
---
%script{:src => "/scripts/choc/two-annotations.js"}
%link{:href => "/styles/joyride/joyride-2.1.css", :rel => "stylesheet"}/
%script{:src => "/scripts/vendor/jquery.joyride-2.1.js"}

%header
  .row
    .large-6.columns.title-container
      %h1#title 
        Choc
      #subtitle
        Traceable programming
    .large-6.columns.description
      %p
        Choc is a tool for thinking powerful thoughts by stepping through code 
        It is an implementation of several ideas found in Bret Victor's 
        %span.proper
          %a{:href => "http://worrydream.com/LearnableProgramming/"}
            Learnable Programming.

.row
  .large-1.columns
  .large-10.large-centered.columns
    %h2
      Demo 1 — 
      %b
        See the flow

    .choc-wrapper
      .canvas-container.x-canvas
        #parabola-canvas
      #choc-editor-for-parabola.canvas-editor

  .large-1.columns
%script{:src => "/scripts/examples/parabola-client.js"}

.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      Computers affect the way people think and learn. We can use computers to enhance thinking and change patterns of access to knowledge. 

    %p 
      Choc is a toolkit designed to help teachers craft small demos that students can explore interactively. 

    %p
      Choc is different from other "live-coding" environments in that each step of the execution can be controled by the learner.

    %p


    %img{:src => "images/mockups/mockup-editor-02.jpg"}
  .large-1.columns
    &nbsp;

.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %img{:src => "images/mockups/mockup-editor-02.jpg"}
  .large-1.columns
    &nbsp;


.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %img{:src => "images/mockups/mockup-editor-03.jpg"}
  .large-1.columns
    &nbsp;


.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %img{:src => "images/mockups/mockup-editor-04.jpg"}
  .large-1.columns
    &nbsp;


.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %img{:src => "images/mockups/mockup-editor-05.jpg"}
  .large-1.columns
    &nbsp;


.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %img{:src => "images/mockups/mockup-editor-06.jpg"}
  .large-1.columns
    &nbsp;


.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      Installation instructions
  .large-1.columns
    &nbsp;


.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      Made by Nate Murray & Ari Lerner in San Francisco - Fullstack.io

  .large-1.columns
    &nbsp;



.row
  .large-1.columns
    &nbsp;
  .large-10.columns
    %p
      %tt
        Choc
      aims to help learners gain a deep insight into how a program 
      %em
        runs
      by
      %em 
        providing human descriptions of each line of code that runs,
      %em
        making the flow tangible by allowing you to scrub through each step
      %em 
        making the flow visible by xxx
      %em
        showing the data of each line of code 

    %p

  .large-1.columns
    &nbsp;

.row
  .large-12.large-centered.columns
    #messages

/* Tour
%ol#tourGuide
  %li{:'data-tour' => 'slider'} Slide here
  %li{:'data-tour' => 'editor'} Edit here
  %li{:'data-tour' => 'canvas'} See result here

%script{:src => "/scripts/index/tour.js"}
