body {
  margin: 0;
  font-family: "source-code-pro", "Helvetica", Georgia, Times New Roman, serif;
  font-size: 1.125em;
  line-height: 20px;
  color: #333333;
  background-color: #f1f1f1; }

.row {
  max-width: 90%; }

.CodeMirror {
  background-color: #f1f1f1;
  line-height: 1.575em;
  height: auto; }

.CodeMirror-scroll {
  height: auto;
  overflow-x: auto;
  overflow-y: hidden; }

.ubutton {
  background-color: gainsboro;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  color: #777777;
  font-family: Courier New;
  font-size: 23px;
  font-weight: bold;
  padding: 12px 23px;
  text-decoration: none; }
  .ubutton:hover {
    background-color: gainsboro; }
  .ubutton:active {
    position: relative;
    top: 1px; }

.top-buttons {
  text-align: right; }

.run {
  margin-top: 1.2em;
  margin-bottom: 0.5em; }

.hidden {
  display: none; }

#title {
  position: relative;
  left: -1.15em; }

#choc-icon {
  margin-right: 0.2em;
  height: 1em;
  top: 0.1em;
  position: relative; }

.section-header {
  background-color: gainsboro;
  color: #777777;
  padding: 0.4em 0em; }

.section-header {
  color: #f1f1f1;
  padding: 0.4em 0.5em;
  text-transform: uppercase;
  font-family: courier;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.canvas {
  text-align: center; }

#amount {
  font-size: 0.55em;
  color: #949494; }

.CodeMirror-activeline {
  z-index: 10; }

.CodeMirror div.CodeMirror-cursor {
  z-index: 20; }

.CodeMirror-activeline-background {
  background: #fff8b1 !important; }

.CodeMirror-linewidget {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 50%; }

.line-messages {
  float: right;
  text-align: right;
  background: #fff8b1 !important;
  font-family: "Helvetica", Georgia, Times New Roman, serif;
  color: #949494;
  font-size: 0.65em;
  line-height: 1.3em;
  padding-right: 0.3em;
  padding-top: 0.3em; }

.choc-variable {
  font-family: "source-code-pro", "monaco", "courier"; }

.choc-value {
  font-weight: bold; }

#editor {
  margin-top: 26px; }

#timeline {
  overflow-x: scroll;
  position: relative; }
  #timeline table {
    border: none;
    margin-top: 7px; }
    #timeline table tr.active {
      background-color: #fff8b1 !important; }
    #timeline table th {
      padding: 0px;
      color: #949494;
      background: #f1f1f1;
      font-weight: normal;
      font-size: 0.5em;
      height: 23px; }
    #timeline table td {
      height: 23px;
      padding: 0px;
      text-align: center; }
      #timeline table td .cell {
        width: 13px;
        color: #949494; }
      #timeline table td .active {
        color: red;
        font-size: 2em; }

#timeline-container {
  overflow: hidden; }

#tlmark {
  background-color: red;
  position: relative;
  width: 1px; }

.CodeMirror-lines pre:nth-child(odd) {
  background: #f9f9f9; }

.CodeMirror-lines pre:nth-child(even) {
  background: white; }

.CodeMirror-activeline > pre {
  background: none !important; }
