!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title Choc - Traceable Programming

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}

    %link{:href => "/styles/normalize.css", :rel => "stylesheet"}/
    %link{:href => "/styles/ui-lightness/jquery-ui-1.10.3.custom.css", :rel => "stylesheet"}/
    %link{:href => "/styles/codemirror.css", :rel => "stylesheet"}/
    %link{:href => "/styles/foundation.css", :rel => "stylesheet"}/
    %link{:href => "/styles/choc.css", :rel => "stylesheet"}/

    %script{:src => "/scripts/vendor/jquery.js"}
    %script{:src => "/scripts/vendor/jquery-ui-1.10.3.custom.js"}
    %script{:src => "/scripts/vendor/custom.modernizr.js"}
    %script{:src => "/scripts/foundation/foundation.js"}
    %script{:src => "/scripts/vendor/codemirror.js"}
    %script{:src => "/scripts/vendor/modes/javascript/javascript.js"}
    %script{:src => "/scripts/vendor/modes/coffeescript/coffeescript.js"}
    %script{:src => "/scripts/vendor/two.js"}
    %script{:src => "/scripts/choc.browser.js?d=1373775961496"}

  %body
    %header
      %h1#title 
        Choc
      %h2#subtitle
        Traceable programming

    .row
      .large-12.large-centered.columns
        .row
          .large-9.columns

            .row.collapse
              .large-1.columns
                #amount
              .large-5.columns
                #slider
              .large-6.columns
                .space

            .row.collapse
              .large-8.columns
                #editor-header
                #editor
              #timeline-container.large-4.columns
                #timeline

          .large-3.columns.x-canvas
            #targetcanvas


    .row
      .large-12.large-centered.columns
        #messages
    / %script{"data-main" => "/scripts/parabola-client.js", :src => "/scripts/libs/require.js"}
    %script{:src => "/scripts/choc-editor.js?d=1373775961496"}
    %script{:src => "/scripts/parabola-client.js"}
