---
title: Story Time
permalink: page/
---
:javascript
  $(document).ready(function(){});

%h3= "hi"
.content
  :markdown
    *Dec 4, 2012* - [Author](http://github.com)

    Once upon a time, in a village by the sea...

