---
title: Bouncing Ball
layout: default
---
%script{:src => "/scripts/choc/two-annotations.js"}
%script{:src => "/scripts/examples/bouncing-ball.js"}

%header
  %h1#title 
    Choc
  %h2#subtitle
    Traceable programming

.row
  .large-12.large-centered.columns

    .choc-wrapper
      .canvas-container
        #frameCanvas
        #fader
        #previewCanvas

      #choc-editor-for-bouncing-ball.canvas-editor

.row
  .large-12.large-centered.columns
    #messages
