---
layout: default
title: Scrub Only
---
%script{:src => "/scripts/choc/two-annotations.js"}

%header
  %h1#title 
    Choc
  %h2#subtitle
    Traceable programming

.row
  .large-12.large-centered.columns

    .choc-wrapper
      .canvas-container.x-canvas
        #parabola-canvas
      #choc-editor-for-parabola.canvas-editor

.row
  .large-12.large-centered.columns
    #messages
%script{:src => "/scripts/examples/parabola-client.js"}

