---
title: Scrub And Timeline
layout: default
---
%script{:src => "/scripts/choc/two-annotations.js"}
%script{:src => "/scripts/examples/parabola-client-timeline.js"}
%header
  %h1#title 
    Choc
  %h2#subtitle
    Traceable programming

.row
  .large-12.large-centered.columns

    .choc-wrapper
      .canvas-container
        #parabola-timeline-canvas
      #choc-editor-for-parabola-with-timeline.canvas-editor

.row
  .large-12.large-centered.columns
    #messages
