---
title: Scrub Only
layout: default
---
%script{:src => "{{ site.baseurl }}scripts/choc/two-annotations.js"}
%script{:src => "{{ site.baseurl }}scripts/examples/triangle-fan-timeline.js"}

%header
  %h1#title 
    Choc
  %h2#subtitle
    Traceable programming

.row
  .large-12.large-centered.columns

    .choc-wrapper
      .canvas-container
        #triangle-fan-2-canvas
      #choc-editor-for-triangle-fan-2.canvas-editor

.row
  .large-12.large-centered.columns
    #messages

