---
title: Triangle Fan
layout: default
---
%script{:src => "/scripts/examples/triangle-fan.js"}
%script{:src => "/scripts/choc/two-annotations.js"}

%header
  %h1#title 
    Choc
  %h2#subtitle
    Traceable programming

.row
  .large-12.large-centered.columns

    .choc-wrapper
      .canvas-container
        #triangle-fan-1-canvas
      #choc-editor-for-triangle-fan-1.canvas-editor

.row
  .large-12.large-centered.columns
    #messages
