---
title: Triangle Fan
layout: default
---
%header
  %h1#title 
    Choc
  %h2#subtitle
    Traceable programming

.row
  .large-12.large-centered.columns

    .canvas-container.x-canvas
      #targetcanvas

    .canvas-editor
      .row
        .large-12.columns
          .row.slider-container
            .large-1.columns
              #amount
            .large-5.columns
              #slider
            .large-6.columns
              .space

          .row
            .large-12.columns
              #editor-header
              #editor

.row
  .large-12.large-centered.columns
    #messages
%script{:src => "/scripts/choc/choc-editor.js?d=1373775961496"}
%script{:src => "/scripts/choc/two-annotations.js"}
%script{:src => "/scripts/examples/triangle-fan.js"}
