---
title: Voxel
layout: default
---
%script{:src => "/scripts/vendor/voxel-garden.js"}
%script{:src => "/scripts/examples/voxel-game.js"}

%header
  %h1#title 
    Choc
  %h2#subtitle
    Traceable programming

.row.voxel
  .large-12.large-centered.columns

    .choc-wrapper
      .canvas-container
        #game
      #choc-editor-for-voxel.canvas-editor
    -# %a{:href => "x", :onClick => "window.ChocGame.startVoxelDemo(); return false;"}
    -#   play

.row
  .large-12.large-centered.columns
    #messages

:javascript
  $(document).ready(function() {
    $("#game").show();
    window.ChocGame.startVoxelDemo();
  });
