@import "rgbapng"
@import "compass"
@import "animation"

$bg: white
$soft-gray: #F8F9F9
$not-black: rgb(78, 78, 78)
$body-font: 'Source Sans Pro', sans-serif
$lightest-blue: #E6FAFF
$bright-blue: rgb(58, 212, 241)
$darker-blue: #19AACF
$darker-blue-2: #084159

/* Choc Explore Styles

body
  margin: 0
  font-family: $body-font
  font-weight: 400
  font-size: 1.125em
  line-height: 20px
  color: $not-black
  background-color: $bg

header
  text-align: center
  background-color: $lightest-blue
  margin-bottom: 1em
  padding: 1.5em 1em 1em 1em

h2
  width: 100%
  text-align: center
  font-family: $body-font
  font-weight: 400

  b
    font-weight: 700

blockquote
  padding: 0.5625em 1.25em 0.5625em 1.1875em

.title-container
  text-align: right

.description
  text-align: left
  padding-top: 1em
  color: $not-black
  background-color: white

  p
    font-size: 1em
    line-height: 1.3em

#title
  font-family: "open sans"
  font-weight: 800
  color: #868686
  margin: 0
  text-transform: uppercase

#subtitle
  color: #868686
  text-transform: uppercase
  font-size: 0.8em
  font-weight: normal
  font-family: $body-font
  background-color: $bright-blue
  color: white
  padding: 0.1em 0.2em

p
  font-size: 22px
  line-height: 36px

a
  color: $bright-blue
  &:hover
    color: $darker-blue
  &:active
    color: $darker-blue

.ubutton
  background-color: #dcdcdc
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  display: inline-block
  color: #777777
  font-family: Courier New
  font-size: 23px
  font-weight: bold
  padding: 12px 23px
  text-decoration: none
  &:hover
    background-color: #dcdcdc
  &:active
    position: relative
    top: 1px

.hidden
  display: none

.canvas
  text-align: center

#frameCanvas
  position: absolute
  top: 0px
  z-index: 20

#previewCanvas
  position: absolute
  top: 0px

#fader
  position: absolute
  top: 0px
  z-index: 10
  background-color: rgba(255, 255, 255, 0.70)

.voxel
  .canvas-editor
    margin-right: 420px
    position: relative

  .canvas-container
    float: right
    width: 400px
    margin-top: 50px
    position: relative

  #game
    width: 400px
    height: 400px
    display: none

#tourGuide
  display: none

.opentip-container
#opentip-1
  margin-top: 30px

#opentip-2
  margin-top: 10px

#demo-1
  min-height: 250px

ul
  list-style: disc outside none
  padding-left: 20px

.animation-controls
  width: auto
  padding: 6px 18px 4px
  font-size: 13px
  text-decoration: none
  color: rgb(255,255,255)
  background: $darker-blue
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px

  padding: 7px 15px 7px 14px
  text-transform: uppercase
  position: relative
  top: -3px
  margin-left: 3%
    
  &:hover
    color: $darker-blue-2

#choc-editor-for-bouncing-ball 
  .controls-container
    min-height: 3em

    .slider-container
      display: inline-block
      width: 80%
      margin-left: 0.5em
      margin-right: 1em
      margin-top: 0.2em


#drag-this
  background-image: url('/images/tour/drag_this_arrow.png')
  width: 149px 
  height: 103px

#and-drag-this
  background-image: url('/images/tour/and_this_arrow.png')
  width: 174px 
  height: 99px

@media all and (-webkit-min-device-pixel-ratio: 1.5)
  #drag-this
    background-image: url('/images/tour/drag_this_arrow@2x.png')
    background-size: 149px 103px

  #and-drag-this
    background-image: url('/images/tour/and_this_arrow@2x.png')
    background-size: 174px 99px


.button
  background: #19aacf
  border-width: 0px
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px

#mce-EMAIL
  display: inline-block
  width: 80%

.credits
  background-color: #e6faff
  text-align: center

  #giant-ampersand
    background-image: url('/images/fullstack/amp.png')
    width: 225px 
    height: 225px
    margin-left: 0.9em 

  @media all and (-webkit-min-device-pixel-ratio: 1.5)
    #giant-ampersand
      background-image: url('/images/fullstack/amp@2x.png')
      background-size: 225px 225px

  .made-by
    text-align: left

  .content
    margin-top: 2em
    margin-bottom: 3em

  .name
    padding-bottom: 0.6em
    padding-top: 0.5em

.demo-note
  font-size: 0.8em
  color: rgb(134, 134, 134)
  text-align: center
